body
{
    background-color: gray;
}

.heading
{
    font-size: 20px;
    width: 100%;
    margin: 0%;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer
{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    line-height: 3px;
    text-align: center;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
